<ion-header>
  <ion-toolbar>
    <ion-title>
      혈당
      <ion-button class="add" fill="clear" (click)="setOpen(true)">
        <ion-icon slot="start" [ios]="'add' + '-outline'" [md]="'add' + '-sharp'"></ion-icon>
      </ion-button>
    </ion-title>

  </ion-toolbar>

</ion-header>


<ion-content>
  <div *ngFor="let p of lifeLogData; let i = index">
    <ion-item button detail="true" (click)="toggleCollapse(i)">
      <span class="left">{{p.dateTime}}</span>
      <p class="right">
        {{p.bs}} mg/dL,
      </p>
    </ion-item>
    <c-col [visible]="visible[i]" cCollapse >
      <li>
        상태 : {{p.bsstatus}}
      </li>
      <li>
        인슐린 복용상태 : {{p.insulin}}
      </li>
      <li>
        측정장소 : {{p.measurementLocation}}
      </li>
    </c-col>
  </div>

  <app-lifelog-modal-v2
    [modalOpen]="modalOpen"
    (modalClosed)="setClose($event)"
    [modalData]="modalData"
    [formGroup]="formGroup"
  >

  </app-lifelog-modal-v2>
</ion-content>

