<ion-header>
  <ion-toolbar>
    <ion-title>
      혈당
      <ion-button class="add" fill="outline" (click)="setOpen(true)">
        추가하기
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="sub-Center">
    <div class="inner">
      <table class="table-1 mgT18">
        <colgroup>
          <col width="15%"/>
          <col width="25%"/>
          <col width="20%"/>
          <col width="20%"/>
          <col width="20%"/>
        </colgroup>

        <tbody>
        <tr class="thGrp" bgcolor="#f7faff">
          <th>{{'측정 일시'}}</th>
          <th>{{'혈당(mg/dL)'}}</th>
          <th>{{'상태'}}</th>
          <th>{{'인슐린 복용'}}</th>
          <th>{{'장소' }}</th>
        </tr>
        <tr *ngFor="let lifelog of lifeLogData; let i = index">
          <td>{{lifelog.dateTime | date: 'MM-dd HH:mm'}}</td>
          <td>{{lifelog.bs}}</td>
          <td>{{lifelog.bsstatus}}</td>
          <td>{{lifelog.insulin}}</td>
          <td>{{lifelog.measurementLocation}}</td>
        </tr>
        </tbody>
      </table>

      <app-lifelog-modal-v2
        [modalOpen]="modalOpen"
        (modalClosed)="setClose($event)"
        [modalData]="modalData"
        [formGroup]="formGroup"
      >
      </app-lifelog-modal-v2>
    </div>
  </div>
</ion-content>


