<ion-content>

<body class="back-img">
<div class="wrapper po-rel">
  <div class="con">
    <div class="login">
      <div class="centerBox">
        <div class="loginBox">
          <div class="loginBox_tit">
            <div class="logo_po mgT22">
              <span class="logo_po_bold">{{'라이프로그'}}</span><span>{{'조회하기'}}</span>
            </div>
            <p class="subtxt" innerHTML="{{'Lifelog change your Life'}}"></p>
          </div>

          <form [formGroup]="form">
            <div class="loginBox_input">
              <p class="inputLabel mgT27">{{'아이디'}}</p>
              <input class="input-1" type="text" placeholder="{{'아이디를 입력해주세요'}}" formControlName="uid" >
              <p class="inputLabel mgT27">{{'비밀번호'}}</p>
              <input class="input-1" type="password" placeholder="{{'비밀번호를 입력해주세요'}}" formControlName="password">
              <button class="btn-1 mgT30" type="submit" (click)="login()">{{'로그인'}}</button>
              <button [routerLink]="['/tabs/login/sign-up']">{{'회원가입'}}</button>
            </div>
          </form>


        </div>

      </div>
    </div><!--//main-->
  </div><!--//con-->
</div><!--//wrapper-->
</body>

</ion-content>
