<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="login">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lifelog">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>라이프로그</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nonReactiveLifelog">
      <ion-icon name="square"></ion-icon>
      <ion-label>NonReactiveLifelog</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
