<ion-header>
  <ion-toolbar>
    <ion-title>
      몸무게
      <ion-button class="add" fill="outline" (click)="setOpen(true)">
        추가하기
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="sub-Center">
    <div class="inner">
      <table class="table-1 mgT18">
        <colgroup>
          <col width="5%"/>
          <col width="15%"/>
          <col width="15%"/>
          <col width="15%"/>
          <col width="15%"/>
          <col width="15%"/>
          <col width="20%"/>
        </colgroup>

        <tbody>
        <tr class="thGrp" bgcolor="#f7faff">
          <th>{{'측정 일시'}}</th>
          <th>{{'신장(cm)'}}</th>
          <th>{{'체중(Kg)'}}</th>
          <th>{{'체질량'}}</th>
          <th>{{'체지방(%)' }}</th>
          <th>{{'성별' }}</th>
          <th>{{'측정장소' }}</th>
        </tr>
        <tr *ngFor="let lifelog of lifeLogData; let i = index">
          <td>{{lifelog.dateTime | date: 'MM-dd HH:mm'}}</td>
          <td>{{lifelog.height}}</td>
          <td>{{lifelog.weight}}</td>
          <td>{{lifelog.bodyMass}}</td>
          <td>{{lifelog.bodyFat}}</td>
          <td>{{lifelog.gender}}</td>
          <td>{{lifelog.location}}</td>
        </tr>
        </tbody>
      </table>

      <app-lifelog-modal-v2
        [modalOpen]="modalOpen"
        (modalClosed)="setClose($event)"
        [modalData]="modalData"
        [formGroup]="formGroup"
      >
      </app-lifelog-modal-v2>
    </div>
  </div>
</ion-content>


