
<ion-content>

  <body class="back-img">
  <div class="wrapper po-rel">
    <div class="con">
      <div class="login">
        <div class="centerBox">
          <div class="loginBox">
            <div class="loginBox_tit">
              <div class="logo_po mgT22">
                <span class="logo_po_bold">{{'회원'}}</span><span>{{'가입하기'}}</span>
              </div>
              <p class="subtxt" innerHTML="{{''}}"></p>
            </div>

            <form [formGroup]="form" >
              <div class="loginBox_input">
                <p class="inputLabel mgT27">{{'아이디'}}</p>
                <input class="input-1" type="text" placeholder="{{'회원가입을 위한 아이디를 입력해주세요'}}" formControlName="uid" >
                <p class="inputLabel mgT27">{{'이메일'}}</p>
                <input class="input-1" type="text" placeholder="{{'회원가입을 위한 이메일을 입력해주세요'}}" formControlName="email" >
                <p class="inputLabel mgT27">{{'이름'}}</p>
                <input class="input-1" type="text" placeholder="{{'회원가입을 위한 이름 입력해주세요'}}" formControlName="username" >
                <p class="inputLabel mgT27">{{'비밀번호'}}</p>
                <input class="input-1" type="password" placeholder="{{'회원가입을 위한 비밀번호를 입력해주세요'}}" formControlName="password">
                <button class="btn-1 mgT30" type="submit"  (click)="signUp()">{{'회원 가입'}}</button>
              </div>
            </form>


          </div>

        </div>
      </div><!--//main-->
    </div><!--//con-->
  </div><!--//wrapper-->
  </body>

</ion-content>
