<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      라이프 로그
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">라이프 로그</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list id="inbox-list">
  <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
    <ion-item routerLinkActive="selected" (click)="setOpen(true, p.modalContent, p.modalContent)">
      <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
      <ion-label>{{ p.title }}</ion-label>
    </ion-item>
  </ion-menu-toggle>
  </ion-list>
  <app-lifelog-modal
    [modalOpen]="modalCon"
    (modalClosed)="setClose($event)"
    [content]="content"
    [text]="text"
    [modalGroup]="modalGroup"
  >
  </app-lifelog-modal>
</ion-content>
