<ion-modal [isOpen]="modalOpen" (ionModalDidDismiss)="setClose(false)" >
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title class="page-title">{{modalData.lifelogName}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setClose(false)" fill="outline">닫기</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
        <p *ngFor="let p of modalData.text; let i = index" >
          <label> {{p}} </label>
          <input type="text" class="input-1" formControlName="{{modalData.textData[i]}}">
        </p>
        <p *ngFor="let p of modalData.select; let i = index">
          {{p.title}}<br>
          <span *ngFor="let q of p.selCont let i = index" class="radioBox_grp-2">
            <input id="{{q}}{{i}}" type="radio"  name="{{p.selectData}}" formControlName="{{p.selectData}}" value="{{p.selContData[i]}}">
            <label for="{{q}}{{i}}">{{q}}</label>
          </span>
        </p>
        <button type="submit" (click)="presentAlert()" class="btn-2 mgT12">등록하기</button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

